<!DOCTYPE html>
<html>
<head>
    <link  rel="stylesheet" href="style/home.css" type="text/css"/>
    <title>Aule web </title>
</head>
<body>
<div class="home-container">
    <div class="home-frame3">
        <img
                alt="UnivaqLogo116"
                src="images/UnivAQ_logoC.png"
                class="home-univaq-logo1"
        />
        <span class="home-text02">
            Benvenuto
                </span>
        <form action="logout" method="post">
            <input type="submit"  class="home-Accedi-Esci" name="logout" value="Esci">
        </form>
    </div>
      <div class="admin-home-frame2">
          <a href="gestisci_responsabile">
            <img
              alt="Rectangle2I363"
              src="images/rectangle2i363-x1gr-300w.png"
              class="Gestisci-Responsabile"
            />
          </a>
          <a href="modifica-aule">
            <img
              alt="Rectangle3I363"
              src="images/rectangle3i363-j68m-300w.png"
              class="Modifica-crea-aula"
            />
          </a>
          <a href="modifica-gruppo">
            <img
              alt="Rectangle6I363"
              src="images/rectangle6i363-tlof-300w.png"
              class="Modifica-crea-gruppi"
            />
          </a>
      </div>
      <span class="admin-home-text10">Modifica e crea Responsabile</span>
      <span class="admin-home-text12">Modifica e Crea Aula</span>
      <span class="admin-home-text14">Modifica e crea gruppi</span>
    </div>
  </div>
</div>
</body>
</html>
