<!DOCTYPE html>
<html>
<head>
  <link href="style/Tabelle.css" rel="stylesheet" />
  <title>Aule web </title>
</head>

<body>
<div class="container">
  <div  class="upper">
    <a href="home"><img
            alt="UnivaqLogo1852"
            src="images/UnivAQ_logoC.png"
            class="home-univaq-logo1"
    />
    </a>
  </div>
  <div class="lower">
    
    <form action="eventi-programmati?id_dipartimento=${dipartimentoID}" method="post">
      <label>Filtro:</label>
      <input style=" border: solid 1px black ; background-color: skyblue; border-radius: 5px;  " type="submit" value="Visualizza eventi attuali nelle ultime 3 ore" name="button1">
      <input  style=" border: solid 1px black ; background-color: skyblue; border-radius: 5px;  " type="submit" value="Visualizza tutti gli eventi" name="button2">
    </form>

    <table id="dataTable" >
      <thead>

      <tr>
        <th>Data</th>
        <th>Inizio</th>
        <th>Fine</th>
        <th>Aula</th>
        <th>Nome Evento</th>
        <th>Descrizione</th>
        <th>Corso</th>
      </tr>
      </thead>
      <tbody>
      <#if (ListaEventi?size>0)>
      <#list ListaEventi as calendario>
      <tr>
        <td>${calendario.giorno?date?string('dd-MM-yyyy')}</td>
        <td>${calendario.oraInizio?time?string('HH:mm')}</td>
        <td>${calendario.oraFine?time?string('HH:mm')}</td>
        <td>${calendario.aula.nome}</td>
        <td>${calendario.evento.nome}</td>
        <td>${calendario.evento.descrizione}</td>
        <td><#if calendario.evento.corso??>${calendario.evento.corso.nome}</#if></td>
      </tr>
      </#list>
    </#if>
    </tbody>
    </table>
    <a  href="polo?dipartimento_key=${dipartimentoID}"><button class="my-button">Indietro</button></a>
  </div>
</div>
</div>
</body>
</html>
