<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/home.css" type="text/css" />
        <title>Aule web</title>
    </head>
    <body>
        <div class="home-container">
            <div class="home-home">
                <div class="home-frame3">
                    <img
                        alt="UnivaqLogo116"
                        src="images/UnivAQ_logoC.png"
                        class="home-univaq-logo1"
                    />
                    <h1 class="home-text02">Benvenuto</h1>
                    <form action="login" method="get">
                        <input type="submit" class="home-Accedi-Esci" name="accedi" value="Accedi">
                    </form>
                </div>

                <h2 class="home-text">Seleziona Dipartimenti o Poli</h2>

                <div class="home-frame-Dipartimenti">
                    <#list ListaDipartimenti as dipartimento>
                        <a href="polo?dipartimento_key=${dipartimento.id}">
                            <div class="department">
                                <img alt="Rectangle2114" src="images/rectangle2114-k0bh-300w.png" />
                                <div class="home-text-description">
                                    ${dipartimento.nome}
                                </div>
                            </div>
                        </a>
                    </#list>
                </div>
            </div>
        </div>
    </body>
</html>