<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/home.css" type="text/css" />
        <title>Aule web</title>
    </head>
    <body>
        <div class="home-container">
            <div class="home-home">
                <div class="home-frame3">
                    <a href="home">
                        <img
                            alt="UnivaqLogo116"
                            src="images/UnivAQ_logoC.png"
                            class="home-univaq-logo1"
                            />
                    </a>
                    <span class="Iscrizione-text">
                        Inserisci le tue credenziali
                    </span>
                </div>

                <form method="post" action="login">
                    <div class="username">
                        <input type="text" name="u" placeholder="Username">
                    </div>

                    <div class="password">
                        <input type="password" name="p" placeholder="Password">
                    </div>

                    <div class="iscrizione-frame">
                        <div class="button-container">
                            <button name="indietro">Indietro</button>
                            <input type="submit" name="login" value="Accedi" class="home-Accedi-Esci">
                        </div>
                    </div>

                    <div class="iscrizione-frame25">
                        <img
                            alt="logocustomer12543"
                            src="images/logocustomer12543-arf-200h.png"
                            class="iscrizione-logocustomer1"
                            />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
