<link href="style/lista_professori.css" rel="stylesheet" />

<div class="home-container">
    <div class="home-home">
        <div class="lower">

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                    </tr>
                </thead>
                <tbody>
                    <#if (ListaProfessori?size>0)>
                    <#list ListaProfessori as lista>

                    <tr>
                        <td>${lista.nome}</td>
                        <td>${lista.cognome}</td>
                    </tr>
                    </#list>
                    </#if>
                </tbody>
            </table>
            <div>
                <a href="home_admin"><button class="my-button">Indietro</button></a>
            </div>
        </div>
    </div>
</div>

