<!-- collegare eventi (info.html) nell href -->
<link rel="stylesheet" href="style/mostra_aule.css" type="text/css" />

<div class="home-container">

    <div class="calendar-and-events-container">
        <div class="events-container">
            <!-- Inserisci qui la visualizzazione degli eventi del giorno -->
            <h2>Eventi di Oggi</h2>
            <ul id="eventList">
                <!-- Gli eventi con descrizioni verranno visualizzati qui -->
            </ul>
        </div>

        <!-- Contenitore per l'orario del giorno -->
        <div class="time-container">
            <!-- Inserisci qui l'orario del giorno -->
            <h2>Orario del Giorno</h2>
            <ul id="timeList">
                <!-- L'orario verrà visualizzato qui -->
            </ul>
        </div>

        <div id="calendar">
            <button id="currentDateButton">Data Corrente</button>
            <div class="header">
                <button id="prevMonth">&lt;</button>
                <h1 id="currentMonth"></h1>
                <button id="nextMonth">&gt;</button>
            </div>
            <div class="days">
                <!-- Inserire qui i giorni del mese -->
            </div>
        </div>
    </div>

    <div class="home-home">
        <div class="lower">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Luogo</th>
                        <th>Edificio</th>
                        <th>Piano</th>
                        <th>Capienza</th>
                        <th>Numero di prese elettriche</th>
                        <th>Numero di prese di rete</th>
                        <th>Professore</th>
                        <th>Attrezzature</th>
                        <th>Azione</th>
                    </tr>
                </thead>
                <tbody>
                    <#if (ListaAule?size>0)>
                    <#list ListaAule as aula>
                    <tr>
                        <td>${aula.nome}</td>
                        <td>${aula.luogo}</td>
                        <td>${aula.edificio}</td>
                        <td>${aula.piano}</td>
                        <td>${aula.capienza}</td>
                        <td>${aula.preseElettriche}</td>
                        <td>${aula.preseRete}</td>
                        <td><#if aula.professore??>${aula.professore.nome} ${aula.professore.cognome}</#if></td>
                        <td>
                            <#list aula.attrezzature as att>
                            ${att},
                            </#list>
                        </td>
                        <!-- <td><a href="eventi?id=${aula.key}">[visualizza eventi]</a></td> -->
                        <td><a class="Bottone-tabella" href="eventi?id=${aula.key}">Eventi Aula</a></td>
                    </tr>
                    </#list>
                    </#if>
                </tbody>            
            </table>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleziona gli elementi DOM necessari
        const prevMonthButton = document.getElementById('prevMonth');
        const nextMonthButton = document.getElementById('nextMonth');
        const currentDateButton = document.getElementById('currentDateButton');
        const currentMonthElement = document.getElementById('currentMonth');
        const daysContainer = document.querySelector('.days');
        const eventList = document.getElementById('eventList');
        const eventDetails = document.getElementById('eventDetails');
        const timeList = document.getElementById('timeList');

        const today = new Date();

        let currentDate = new Date();
        let selectedDay = formatDate(new Date()); // Memorizza il giorno selezionato all'inizio


        // Funzione per renderizzare il calendario
        function renderCalendar() {
            const month = currentDate.getMonth();
            const year = currentDate.getFullYear();
            const options = {year: 'numeric', month: 'long'};
            currentMonthElement.textContent = currentDate.toLocaleDateString('it-IT', options);

            // Pulisci il container dei giorni
            daysContainer.innerHTML = '';
            const daysInMonth = new Date(year, month + 1, 0).getDate();

            for (let day = 1; day <= daysInMonth; day++) {
                const dayElement = document.createElement('div');
                dayElement.textContent = day;
                dayElement.classList.add('day');
                const date = new Date(year, month, day);
                dayElement.setAttribute('data-date', date.toISOString().split('T')[0]);

                if (date.toDateString() === currentDate.toDateString()) {
                    dayElement.classList.add('current-day');
                }

                daysContainer.appendChild(dayElement);
            }
        }

        // Funzione per ottenere gli eventi per una data specifica
        /*function getEventsForDate(date) {
         // Simula il recupero degli eventi dal backend o da un database
         const events = {
         '2023-11-04': ['Math Class', 'Physics Lecture'],
         '2023-11-05': ['Literature Workshop'],
         // Add more event data here
         };
         const formattedDate = formatDate(date);
         return events[formattedDate] || [];
         }*/

        function getScheduleForDate(date) {
            // For simplicity, we're assuming the schedule is the same every day.
            // If the schedule varies, you would need logic here to determine the schedule for the given date.
            return schedule; // Returns the predefined array of time slots
        }

        // Assuming you have an array of events
        var eventsData = {
            '2023-11-05': [
                {name: 'Matematica', description: 'Lezione sulla teoria dei numeri', time: '09:30 - 10:30'},
                {name: 'Fisica', description: 'Studio della meccanica quantistica', time: '11:30 - 12:30'}
            ],
            '2023-11-06': [
                {name: 'Inglese', description: 'Comprensione della lettura', time: '10:00 - 11:00'},
                {name: 'Storia', description: 'Lezione sul Rinascimento', time: '12:00 - 13:00'}
            ],
            '2023-11-07': [
                {name: 'Chimica', description: 'Laboratorio di chimica organica', time: '09:00 - 10:30'},
                {name: 'Educazione fisica', description: 'Allenamento di basket', time: '11:00 - 12:00'}
            ],
            '2023-11-08': [
                {name: 'Arte', description: 'Pittura con acquerelli', time: '14:00 - 15:30'},
                {name: 'Musica', description: 'Lezione di teoria musicale', time: '16:00 - 17:00'}
            ],
            '2023-11-09': [
                {name: 'Informatica', description: 'Programmazione in Python', time: '10:00 - 12:00'},
                {name: 'Geografia', description: 'Climi del mondo', time: '13:00 - 14:00'}
            ],
            // ... more events for other dates
        };


        // Function to render events for a specific day
        function renderEventsForDay(date) {
            const formattedDate = date.toISOString().split('T')[0];
            const events = eventsData[formattedDate] || [];

            // Update the event list
            const eventList = document.getElementById('eventList');
            eventList.innerHTML = ''; // Clear existing list items

            events.forEach(event => {
                const eventItem = document.createElement('li');

                // Create a title element for the event name
                const title = document.createElement('h3');
                title.textContent = event.name;

                // Create a time element for the event time
                const time = document.createElement('div');
                time.textContent = event.time;

                // Create a description element for the event description
                const description = document.createElement('p');
                description.textContent = event.description;

                // Append the title, time, and description to the event item
                eventItem.appendChild(title);
                eventItem.appendChild(time);
                eventItem.appendChild(description);

                // Append the event item to the event list
                eventList.appendChild(eventItem);
            });
        }

        // Modifica la funzione per accettare un parametro date e filtrare l'orario per quella data
        function populateTimeList(date) {
            var timeList = document.getElementById("timeList");
            timeList.innerHTML = ''; // Pulisci la lista prima di popolarla

            var scheduleForDate = getScheduleForDate(date); // Ottieni l'orario per la data selezionata

            // Se non ci sono orari per la data, visualizza un messaggio
            if (!scheduleForDate.length) {
                var li = document.createElement("li");
                li.textContent = "Nessun orario disponibile per questo giorno.";
                timeList.appendChild(li);
            } else {
                // Altrimenti, crea un elemento lista per ogni fascia oraria
                scheduleForDate.forEach(function (item) {
                    var li = document.createElement("li");
                    li.textContent = item;
                    timeList.appendChild(li);
                });
            }
        }

        function formatDate(date) {
            return date.toISOString().split('T')[0];
        }

        // Array di oggetti per definire le fasce orarie
        var schedule = [
            "08:30 - 09:30",
            "09:30 - 10:30",
            "10:30 - 11:30",
            "11:30 - 12:30",
            "12:30 - 13:30",
            "13:30 - 14:30",
            "14:30 - 15:30",
            "15:30 - 16:30",
            "16:30 - 17:30",
            "17:30 - 18:30",
            "18:30 - 19:30",
            "19:30 - 20:30",
        ];

        // Event listeners per la navigazione del calendario
        prevMonthButton.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() - 1);
            renderCalendar();
        });

        nextMonthButton.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() + 1);
            renderCalendar();
        });

        currentDateButton.addEventListener('click', () => {
            currentDate = new Date();
            renderCalendar();
        });

        // Listener per i giorni del calendario
        daysContainer.addEventListener('click', event => {
            const clickedDayElement = event.target;
            if (clickedDayElement.classList.contains('day')) {
                const clickedDate = formatDate(new Date(clickedDayElement.getAttribute('data-date')));

                // Controlla se il giorno selezionato è diverso da quello già visualizzato
                if (clickedDate !== selectedDay) {
                    document.querySelectorAll('.day.selected-day').forEach(el => el.classList.remove('selected-day'));
                    clickedDayElement.classList.add('selected-day');
                    selectedDay = clickedDate;

                    const selectedDate = new Date(clickedDayElement.getAttribute('data-date'));
                    renderEventsForDay(selectedDate);
                    populateTimeList(selectedDate);
                }
            }
        });

        // Inizializzazione
        renderCalendar();
        renderEventsForDay(currentDate);
        populateTimeList(currentDate);

        // If you have code to highlight the current day in your calendar, you would also call it here
        highlightCurrentDay();  // This is just an example, replace with your actual function if you have one
    });

</script>
