<link href="style/header.css" rel="stylesheet" />

<div class="row" id="header">
    <div class="sixteen columns">
        <a href="home" style="float: left;">
            <img
                alt="UnivaqLogo1852"
                src="images/UnivAQ_logoC.png"
                class="home-univaq-logo"
                />
        </a>
        <div class="header-content">
            <span class="logo-text">Aule Web</span>
            <div class="subtitle">${page_title!"Untitled page"}</div>
        </div>

        <div class="logininfo" style="float: right;"> <!-- Utilizza float per spostare logininfo a destra -->
            <#if logininfo??>
            <p class="logged-in">${logininfo.username} (<a href="logout?referrer=${thispageurl?url}">logout</a>)</p>
            <#else>
            <p class="not-logged-in"><em>Not logged in</em> (<a href="login?referrer=${thispageurl?url}">login</a>)</p>
            </#if>
        </div>
    </div>
</div>


