<link rel="stylesheet" href="style/calendario.css" type="text/css" />

<form method="get" action="calendario" onload="createOra()">
    <div class="container">
        <input type="hidden" name="n" value="${calendario.key!0}"/>
        <div class="row">
            <div class="columns clabel">Data</div>
            <div class="columns date-selects">
                <div class="columns">
                    <select name="day" class="small" >
                        <#list days as day>
                        <option value="${day}"
                                <#if (day?string=calendario.giorno?string("d"))>
                            selected="selected"
                            </#if>
                            >${day}</option>
                        </#list>  
                    </select>
                </div>
                <div class="columns">
                    <select name="month" class="small" >
                        <#list months as month>
                        <option value="${month}"
                                <#if (month?string=calendario.giorno?string("M"))>
                            selected="selected"
                            </#if>
                            >${month}</option>
                        </#list> 
                    </select>
                </div>
                <div class="columns">
                    <select name="year" class="small" >
                        <#list years as year>
                        <option value="${year?c}"
                                <#if (year?c?string=calendario.giorno?string("y"))>
                            selected="selected"
                            </#if>
                            >${year?c}</option>
                        </#list> 
                    </select>
                </div>
            </div>
            <div class="columns">
                <input type="submit" name="update" value="Update"/>
                <input type="submit" name="remove" value="Remove"/>
            </div>
        </div>
        <div class="row">Orari
            <div class="columns">
                <label for="oraInizio">Inizio:</label>
                <select name="oraInizio" id="oraInizio">
                    <script>
                        var select = document.getElementById("oraInizio");

                        for (var i = 0; i <= 23; i++) {
                            var option = document.createElement("option");
                            var hour = ("0" + i).slice(-2); // Aggiunge lo zero iniziale se necessario

                            option.value = i;
                            option.text = hour;

                            select.appendChild(option);
                        }
                    </script>
                </select>
            </div>
            <div class="columns">
                <label for="minutiInizio">Minuti:</label>
                <select name="minutiInizio" id="minutiInizio">
                    <script>
                        var selectMinuti = document.getElementById("minutiInizio");

                        for (var i = 0; i <= 45; i += 15) {
                            var optionMinuti = document.createElement("option");
                            var minute = ("0" + i).slice(-2); // Aggiunge lo zero iniziale se necessario

                            optionMinuti.value = i;
                            optionMinuti.text = minute;

                            selectMinuti.appendChild(optionMinuti);
                        }
                    </script>
                </select>
            </div>
            <div class="columns">
                <label for="oraFine">Fine:</label>
                <select name="oraFine" id="oraFine">
                    <script>
                        var select = document.getElementById("oraFine");

                        for (var i = 0; i <= 23; i++) {
                            var option = document.createElement("option");
                            var hour = ("0" + i).slice(-2); // Aggiunge lo zero iniziale se necessario

                            option.value = i;
                            option.text = hour;

                            select.appendChild(option);
                        }
                    </script>
                </select>
            </div>
            <div class="columns">
                <label for="minutiFine">Minuti:</label>
                <select name="minutiFine" id="minutiFine">
                    <script>
                        var selectMinuti = document.getElementById("minutiFine");

                        for (var i = 0; i <= 45; i += 15) {
                            var optionMinuti = document.createElement("option");
                            var minute = ("0" + i).slice(-2); // Aggiunge lo zero iniziale se necessario

                            optionMinuti.value = i;
                            optionMinuti.text = minute;

                            selectMinuti.appendChild(optionMinuti);
                        }
                    </script>
                </select>
            </div>
            <#if (aule?size>0)>
            <div class="row">
                <div class="four columns clabel">Aula & Attivita'</div>
                <div class="eight columns">
                    <select name="aaula">
                        <#list aule as aula>
                        <option value="${aula.key}"<#if (calendario.aula?? && aula.key=calendario.aula.key)>selected="selected"</#if>>${aula.nome}</option>
                        </#list>
                    </select>
                    <br/></div>
                <#if (eventi?size>0)>
                <select name="aevento">
                    <#list eventi as evento>
                    <option value="${evento.key}"<#if (calendario.evento?? && evento.key=calendario.evento.key)>selected="selected"</#if>>${evento.nome}</option>
                    </#list>        
                </select>
                <br/>
                </#if>
            </div>
            <div class="columns">
                <input type="submit" name="add" value="Add"/>
            </div>
        </div>
        </#if>
    </div>
</form>
