<meta charset="UTF-8">
<link rel="stylesheet" href="style/calendario.css" type="text/css" />

<h1 class="page-title">Gestisci calendario</h1>

<div class="table-controls">
    <a href="home" class="my-button">Indietro</a>
    <a href="calendario?n=0" class="my-button">Aggiungi calendario</a>
</div>

<table id="dataTable" class="my-table">
    <thead>
        <tr>
            <th>Aula</th>
            <th>Evento</th>
            <th>Data</th>
            <th>Ora Inizio</th>
            <th>Ora Fine</th>
            <th>Azione</th>
        </tr>
    </thead>
    <tbody>
        <#if (calendario?size>0)>
        <#list calendario as calendario>
        <tr>
            <td>${calendario.aula.nome}</td>
            <td>${calendario.evento.nome}</td>
            <td>${calendario.giorno}</td>
            <td>${calendario.oraInizio}</td>
            <td>${calendario.oraFine}</td>
            <td>
                <a href="calendario?n=${calendario.key}" class="my-button"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        </#list>
        </#if>
    </tbody>            
</table>
