<link href="style/header.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="row" id="header" style="background-color:#002855;  /*Blu scuro*/">
    <div class="sixteen columns">
        <a href="home" style="float: left;">
            <img
                alt="UnivaqLogo1852"
                src="images/UnivAQ_logoC.png"
                class="home-univaq-logo"
                />
        </a>
        <div class="header-content">
            <span class="logo-text">Aule Web</span>
            <div class="subtitle">${page_title!"Untitled page"}</div>
        </div>

        <div class="user-info">
            <#if logininfo??>
            <div class="user-icon">
                <i class="fa fa-user"></i> <!-- Icona FontAwesome -->
            </div>
            <span class="username">${logininfo.username}</span>
            <div class="user-dropdown">
                <a href="profilo"><i class="fa fa-user">Profilo</i></a>
                <a href="aula"><i class="fas fa-door-open">Aule</i></a>
                <a href="evento"><i class="far fa-calendar-alt">Eventi</i></a>
                <a href="calendario"><i class="far fa-clock">Calendario</i></a>
                <a href="logout?referrer=${thispageurl?url}"><i class="fas fa-sign-out-alt">Logout</i></a>
            </div>
            <#else>
            <p class="not-logged-in">
                <em>Not logged in</em> (<a href="login?referrer=${thispageurl?url}"><i class="fa fa-sign-in-alt"></i>Login</a>)
            </p>
            </#if>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var userIcon = document.querySelector('.user-icon');
        var userDropdown = document.querySelector('.user-dropdown');

        var isUserIconClicked = false;

        userIcon.addEventListener('click', function () {
            isUserIconClicked = !isUserIconClicked;
            userDropdown.classList.toggle('open', isUserIconClicked);
        });

        userIcon.addEventListener('mouseenter', function () {
            userDropdown.classList.add('open', isUserIconClicked);
        });

        userIcon.addEventListener('mouseleave', function () {
            if (!isUserIconClicked) {
                userDropdown.classList.remove('open');
            }
        });

        userDropdown.addEventListener('mouseenter', function () {
            isUserIconClicked = true;
        });

        userDropdown.addEventListener('mouseleave', function () {
            isUserIconClicked = false;
            userDropdown.classList.remove('open');
        });

        // Chiudi il menù se si clicca fuori da esso
        document.addEventListener('click', function (event) {
            if (!userIcon.contains(event.target) && !userDropdown.contains(event.target)) {
                isUserIconClicked = false;
                userDropdown.classList.remove('open');
            }
        });
    });

</script>

