<link href="style/header.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="row" id="header" style="background-color:#002855;  /*Blu scuro*/">
    <div class="sixteen columns">
        <a href="home" style="float: left;">
            <img
                alt="UnivaqLogo1852"
                src="images/UnivAQ_logoC.png"
                class="home-univaq-logo"
                />
        </a>
        <div class="header-content">
            <span class="logo-text">Aule Web</span>
            <div class="subtitle">${page_title!"Untitled page"}</div>
        </div>

        <div class="user-info">
            <#if logininfo??>
            <div class="user-icon">
                <i class="fa fa-user"></i> <!-- Icona FontAwesome -->
            </div>
            <span class="username">${logininfo.username}</span>
            <div class="user-dropdown">
                <a href="profilo"><i class="fa fa-user"></i>Profilo</a>
                <a href="aula"><i class="fa fa-building"></i>Aula</a>
                <a href="evento"><i class="fa fa-calendar-alt"></i>Evento</a>
                <a href="calendario"><i class="fa fa-calendar-check"></i>Calendario</a>
                <a href="logout?referrer=${thispageurl?url}"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </div>
            <#else>
            <p class="not-logged-in">
                <em>Not logged in</em> (<a href="login?referrer=${thispageurl?url}"><i class="fa fa-sign-in-alt"></i>Login</a>)
            </p>
            </#if>
        </div>
    </div>
</div>


