<link rel="stylesheet" href="style/profilo.css" type="text/css" />

<div class="profilo-frame2"> 
    <a href="modifica-aule">
        <img
            alt="Rectangle3I363"
            src="images/rectangle3i363-j68m-300w.png"
            class="Modifica-crea-aula"
            />
        <span class="profilo-text02">Modifica e Crea Aula</span>
    </a>
    <a href="modifica-gruppo">
        <img
            alt="Rectangle6I363"
            src="images/rectangle6i363-tlof-300w.png"
            class="Modifica-crea-gruppi"
            />
        <span class="profilo-text02">Modifica e crea gruppi</span>
    </a>
    <a href="gestisci_responsabile">
        <img
            alt="Rectangle2I363"
            src="images/rectangle2i363-x1gr-300w.png"
            class="Gestisci-Professori"
            />
        <span class="profilo-text02">Lista Professori</span>
    </a>
</div>


