<meta charset="UTF-8">
<title>Eventi Disponibili</title>
<link rel="stylesheet" href="style/eventi.css" type="text/css" />

<h2>Elenco Eventi</h2>

<div class="eventi-container"> <!-- Aggiunto un div esterno per un ulteriore styling e layout -->
    <#if (eventi?size > 0)>
    <ul class="eventi-list"> <!-- Aggiunta la classe per ulteriori stili -->
        <#list eventi as evento>
        <li class="evento-item"> <!-- Aggiunta la classe per ogni elemento evento -->
            <div class="evento-nome">${strip_slashes(evento.nome)}</div>
            <a href="evento?k=${evento.key}" class="evento-modifica">[Modifica Evento]</a>
            <div class="evento-descrizione"><i>${evento.descrizione}</i></div>
            <div class="evento-tipo"><i>Tipologia: ${evento.tipo}</i></div>
            <#if evento.corso??>
                <i>Evento: ${evento.corso.nome}</i>
            </#if>
            <i>Professore: ${evento.professore.nome} ${evento.professore.cognome}</i>
        </li>
        </#list>
    </ul>
    </#if>
    <p class="evento-nuovo"><a href="evento?k=0">Crea un Nuovo Evento</a></p>
</div>

