
@import url('normalize.css');
.Evento-nome-responsabile {
    gap: 10px;
    top: 310px;
    left: 437px;
    width: 504px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.Evento-nome-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}

.Evento-descrizione-responsabile {
    gap: 10px;
    top: 435px;
    left: 369px;
    width: 640px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-descrizione-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}

.Evento-aula-responsabile {
    gap: 10px;
    top: 700px;
    left: 493px;
    width: 392px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-aula-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}
.agiungi-evento-responsabile-text04 {
    top: 268px;
    left: 570px;
    color: rgba(0, 0, 0, 1);
    width: 237px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.agiungi-evento-responsabile-text06 {
    top: 394px;
    left: 556px;
    color: rgba(0, 0, 0, 1);
    width: 265px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.agiungi-evento-responsabile-text08 {
    top: 648px;
    left: 543px;
    color: rgba(0, 0, 0, 1);
    width: 276px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.Evento-atrezzature-responsabile{
    gap: 10px;
    top: 560px;
    left: 450px;
    width: 455px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-atrezzature-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}
.Evento-orario-responsabile {
    gap: 10px;
    top: 827px;
    left: 560px;
    width: 253px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-orario-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}
.Evento-data-responsabile {
    gap: 10px;
    top:  965px;
    left: 560px;
    width: 249px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-data-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}
.agiungi-evento-responsabile-text10 {
    top:  519px;
    left: 575px;
    color: rgba(0, 0, 0, 1);
    width: 226px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.agiungi-evento-responsabile-text14 {
    top: 770px;
    left: 575px;
    color: rgba(0, 0, 0, 1);
    width: 226px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.agiungi-evento-responsabile-text12 {
    top:  900px;
    left: 590px;
    width: 211px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.Evento-piano-responsabile{
    gap: 10px;
    top:  1090px;
    left: 560px;
    width: 249px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-piano-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}
.Evento-prese-responsabile{
    gap: 10px;
    top:  1220px;
    left: 560px;
    width: 249px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Evento-prese-responsabile input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:transparent
}
.agiungi-evento-responsabile-text16{
    top:  1027px;
    left: 590px;
    width: 211px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.agiungi-evento-responsabile-text18 {
    top: 1160px;
    left: 550px;
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #f0f0f0;
}
.home-home {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}
.home-text {
    top: 166px;
    left: 37px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.home-frame3 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 156px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(222, 143, 26, 1);
}
.home-univaq-logo1 {
    top: 19px;
    left: -10px;
    height: 137px;
    position: absolute;
}
.home-text02 {
    top: 19px;
    left: 512px;
    color: rgba(0, 0, 0, 1);
    width: 521px;
    height: auto;
    position: absolute;
    font-size: 96px;
    font-style: normal;
    text-align: left;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.home-text07 {
    color: rgba(0, 0, 0, 1);
    width: 85px;
    height: auto;
    font-size: 17px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.admin-gruppo-frame {
    gap: 10px;
    top: 940px;
    left: 85px;
    width: 93px;
    display: block;
    padding: 8px 10px;
    position: absolute;
    align-items: center;
    border-radius: 8px;
}
.Bottone-salva {
    gap: 10px;
    top: 1500px;
    left: 1212px;
    width: 127px;
    display: flex;
    padding: 8px 10px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    font-size: 16px;
}
.Admin-gruppo_nome {
    gap: 10px;
    top: 310px;
    left: 437px;
    width: 504px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Admin-gruppo_nome input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.admin-tipologia-gruppo {
    gap: 10px;
    top: 435px;
    left: 369px;
    width: 640px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.admin-tipologia-gruppo input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.admin-dipartimento-gruppo {
    gap: 10px;
    top: 700px;
    left: 493px;
    width: 410px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.admin-dipartimento-gruppo input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 0px;
}
.admin-gruppo-text04 {
    top: 268px;
    left: 570px;
    color: rgba(0, 0, 0, 1);
    width: 237px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.admin-gruppo-text06 {
    top: 394px;
    left: 556px;
    color: rgba(0, 0, 0, 1);
    width: 265px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.admin-gruppo-text08 {
    top: 648px;
    left: 543px;
    color: rgba(0, 0, 0, 1);
    width: 276px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.admin-gruppo-descrizione {
    gap: 10px;
    top: 560px;
    left: 450px;
    width: 455px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.admin-gruppo-descrizione input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.admin-gruppo-text10 {
    top: 519px;
    left: 518px;
    color: rgba(0, 0, 0, 1);
    width: 325px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.Bottone-indietro {
    gap: 10px;
    top: 1500px;
    left: 85px;
    width: 93px;
    display: flex;
    padding: 8px 10px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    font-size: 16px;
}
.button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
.admin-responsabile-text {
    top: 50px;
    left: 300px;
    color: rgba(0, 0, 0, 1);
    width: 849px;
    height: auto;
    position: absolute;
    font-size: 50px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.Bottone-Indietro {
    gap: 10px;
    top: 932px;
    left: 85px;
    width: 93px;
    display: flex;
    padding: 8px 10px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 1px;

}
.Bottone-indietro2 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
.Responsabile-nome {
    gap: 10px;
    top: 391px;
    left: 244px;
    width: 185px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Responsabile-nome input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 13px;
}
.Responsabile-cognome {
    gap: 10px;
    top: 391px;
    left: 597px;
    width: 197px;
    display: flex;
    padding: 20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Responsabile-cognome input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 13px;
}

.Responsabile-email {
    gap: 10px;
    top: 392px;
    left: 1018px;
    width: 307px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Responsabile-email input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.admin-responsabile-text04 {
    top: 395px;
    left: 60px;
    color: rgba(0, 0, 0, 1);
    width: 237px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.admin-responsabile-text06 {
    top: 395px;
    left: 435px;
    color: rgba(0, 0, 0, 1);
    width: 175px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.admin-responsabile-text08 {
    top: 395px;
    left: 863px;
    color: rgba(0, 0, 0, 1);
    width: 180px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.Responsabile-username {
    gap: 10px;
    top: 545px;
    left: 450px;
    width: 253px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Responsabile-username input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.admin-responsabile-text10 {
    top: 550px;
    left: 250px;
    color: rgba(0, 0, 0, 1);
    width: 226px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}


.Responsabile-password {
    gap: 10px;
    top: 545px;
    left: 900px;
    width: 249px;
    display: flex;
    padding: 25px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.Responsabile-password input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}
.admin-responsabile-text12 {
    top: 550px;
    left: 700px;
    width: 211px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.bottone-Salva {
    gap: 10px;
    top: 934px;
    left: 1212px;
    width: 127px;
    display: flex;
    padding: 8px 10px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.Bottone-indietro2 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #000;
    padding: 7px;
}

th {
    background-color: skyblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: skyblue;
}


a {
    text-decoration: none;
    color: inherit;
}
.lower {
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: white;
    left: 0px;
    bottom: 0px;
}
.Bottone-salva-gruppo {
    gap: 10px;
    top: 1100px;
    left: 1212px;
    width: 127px;
    display: flex;
    padding: 8px 10px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    font-size: 16px;
}
.Bottone-indietro-gruppo {
    gap: 10px;
    top: 1100px;
    left: 85px;
    width: 93px;
    display: flex;
    padding: 8px 10px;
    position: absolute;
    align-items: flex-start;
    border-radius: 8px;
    background-color: rgba(26, 143, 221, 1);
    font-size: 16px;
}
.select-menu {
    width: 350px;
    padding: 8px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-menu option {
    font-size: 14px;
}

