:root {
    --main-bg-color: #f4f4f4;
    --text-color: #333;
    --button-bg-color: #0056b3;
    --button-hover-bg-color: #004494;
    --border-color: #ddd;
    --form-background: #fff;
    --table-background: #fff;
    --th-background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9em;
}

#calendar {
    max-width: 60%;
    float: left;
    margin-right: 20px;
}

#event-form {
    max-width: 35%;
    float: left;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

form input[type="text"],
form input[type="date"],
form input[type="time"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9em;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

form input[type="submit"]:hover {
    background-color: var(--button-hover-bg-color);
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
}

/* Stili per la tabella daily-events */
#daily-events {
    width: 100%;
    background: var(--table-background);
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Spazio sopra la tabella */
    margin-bottom: 20px; /* Spazio sotto la tabella */
}

#daily-events th, #daily-events td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#daily-events th {
    background-color: var(--th-background-color);
}

/* Clearfix per il float */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 768px) {
    #calendar, #event-form {
        width: 100%;
    }
}
